{% extends 'mainapp/base.html' %}

{% load static %}


{% block content %}

<main>
    <ul class= 'jogos'>
        <a href="{% url 'listapop' %}">
        <li>
            <h2>POP</h2>
        <img src="{% static 'img/pop.jpg' %}">
        <p class='descricao'>Escutando: </p>
       </li>
             </a>
        <a href="{% url 'listarock' %}">
            <li>
                <h2>ROCK</h2>
            <img src="{% static 'img/rock.jpg' %}">
            <p class='descricao'>Escutando: </p>
            </li>
            </a>
            <a href="{% url 'listaeletronica' %}">
                <li>
                    <h2>ELETRONICA</h2>
                <img src="{% static 'img/eletronica.jpg' %}">
                <p class='descricao'>Escutando: </p>
                </li>
            </a>
                <a href="{% url 'listareggae' %}">
                <li>
                    <h2>REGGAE</h2>
                <img src="{% static 'img/reggae.jpg' %}">
                <p class='descricao'>Escutando: </p>
                </li>
                </a>
                <a href="{% url 'listahhrap' %}">
                <li>
                    <h2>HIP-HOP/RAP</h2>
                <img src="{% static 'img/hip-hop.jpg' %}">
                <p class='descricao'>Escutando: </p>
                </li>
                </a>
                 <a href="{% url 'listasoundtrack' %}">
                <li>
                    <h2>SOUNDTRACK</h2>
                <img src="{% static 'img/soundtrack.jpg' %}">
                <p class='descricao'>Escutando: </p>
                </li>
                 </a>



    </ul>
</main>


{% endblock %}
