{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
            <div class='caixa'>
            <h1><img src="{% static 'img/guitar.jpg' %}"></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'listademusicas' %}">Lista de Músicas</a></li>
                    <li><a href='contato.html'>Contato</a></li>
                    <li><a href="{% url 'teladelogin' %}">Login</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
        </nav>
        </div>

    </header>
    <main>
        <ul class= 'jogos'>
            <a href="{% url 'listapop' %}">
            <li>
                <h2>POP</h2>
            <img src="{% static 'img/pop.jpg' %}">
            <p class='descricao'>Escutando: </p>
           </li>
                 </a>
            <a href="{% url 'listarock' %}">
                <li>
                    <h2>ROCK</h2>
                <img src="{% static 'img/rock.jpg' %}">
                <p class='descricao'>Escutando: </p>
                </li>
                </a>
                <a href="{% url 'listaeletronica' %}">
                    <li>
                        <h2>ELETRONICA</h2>
                    <img src="{% static 'img/eletronica.jpg' %}">
                    <p class='descricao'>Escutando: </p>
                    </li>
                </a>
                    <a href="{% url 'listareggae' %}">
                    <li>
                        <h2>REGGAE</h2>
                    <img src="{% static 'img/reggae.jpg' %}">
                    <p class='descricao'>Escutando: </p>
                    </li>
                    </a>
                    <a href="{% url 'listahhrap' %}">
                    <li>
                        <h2>HIP-HOP/RAP</h2>
                    <img src="{% static 'img/hip-hop.jpg' %}">
                    <p class='descricao'>Escutando: </p>
                    </li>
                    </a>
                     <a href="{% url 'listasoundtrack' %}">
                    <li>
                        <h2>SOUNDTRACK</h2>
                    <img src="{% static 'img/soundtrack.jpg' %}">
                    <p class='descricao'>Escutando: </p>
                    </li>
                     </a>



        </ul>
    </main>
</body>

</html>