{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Músicas Eletrônicas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/listaeletronica.css' %}">
    <script src="{% static 'js/listademusicas.js' %}"></script>

</head>
<body>
    <header>
            <div class='caixa'>
            <h1><img src="{% static 'img/guitar.jpg' %}"></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'listademusicas' %}">Lista de Músicas</a></li>
                    <li><a href='contato.html'>Contato</a></li>
                    <li><a href="{% url 'teladelogin' %}">Login</a></li>
                </ul>
        </nav>
        </div>

    </header>

        <main>
            <input class="search-bar"><!--<img src="{% static 'img/lupa.jpg'%}" class="lupa">-->
            <h2>Lista de Músicas</h2>

            <table class="lista">
                <thead>
                <tr class="musica">
                    <th>Nome</th>
                    <th>Banda</th>
                    <th>Gênero</th>
                    <th>Álbum</th>
                    <th>Escutando</th>
                </tr>
                </thead>
                <tbody id="tabela-musicas">
                <tr class="musica">
                    <td class="info-nome"><a href="{% url 'visualizacao' %}">Smells Like Teen Spirit</a></td>
                    <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                 <tr class="musica">
                    <td class="info-nome">Come As You Are</td>
                     <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                 <tr class="musica">
                    <td class="info-nome">About a Girl</td>
                     <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                 <tr class="musica">
                    <td class="info-nome">Sliver</td>
                     <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">Patience</td>
                    <td class="info-banda">Guns N' Roses</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">Numb</td>
                    <td class="info-banda">Linkin Park</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">In the End</td>
                    <td class="info-banda">Linkin Park</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">Castle Of Glass</td>
                    <td class="info-banda">Linkin Park</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">What I've Done</td>
                    <td class="info-banda">Linkin Park</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">Waiting For The End</td>
                    <td class="info-banda">Linkin Park</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">Leave Out All The Rest</td>
                    <td class="info-banda">Linkin Park</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">The Pretender</td>
                    <td class="info-banda">Foo Fighters</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">Walk</td>
                    <td class="info-banda">Foo Fighters</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">Best Of You</td>
                    <td class="info-banda">Foo Fighters</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                <tr class="musica">
                    <td class="info-nome">My Hero</td>
                    <td class="info-banda">Foo Fighters</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                </tbody>
            </table>
         <form id="form-adiciona">
             <h1>Adicionar Música</h1>
             <div>
                <label>Nome da Música: </label>
                <input name="nome" type="text" placeholder="Digite o nome da música...">
            </div>
             <div>
                <label>Banda: </label>
                <input name="banda" type="text" placeholder="Digite o nome da banda...">
            </div>
             <div>
                <label>Gênero: </label>
                <input name="genero" type="text" placeholder="Digite o gênero...">
            </div>
             <div>
                <label>Álbum: </label>
                <input name="album" type="text" placeholder="Digite o nome do álbum...">
            </div>
             <button id="adicionar-musica" class="botao bto-principal">Adicionar</button>
         </form>


        </main>
    <footer>
            <p>Contato:</p>
            <p>Whatsapp: 781222</p>
            <p>E-mail: contato@gmail.com</p>
    </footer>
</body>
</html>