{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Músicas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/listademusicas.css' %}">
    <script src="{% static 'js/listademusicas.js' %}"></script>

</head>
<body>
    <header>
            <div class='caixa'>
            <img src="{% static 'img/guitar.jpg' %}">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'listademusicas' %}">Lista de Músicas</a></li>
                    <li><a href='contato.html'>Contato</a></li>
                    <li><a href="{% url 'teladelogin' %}">Login</a></li>
                </ul>
        </nav>
        </div>

    </header>

        <main>
            <input class="search-bar"><!--<img src="{% static 'img/lupa.jpg'%}" class="lupa">-->
            <h2>Lista de Músicas</h2>

            <table class="lista">
                <thead>
                <tr class="musica">
                    <th>Nome</th>
                    <th>Banda</th>
                    <th>Gênero</th>
                    <th>Álbum</th>
                    <th>Escutando</th>
                </tr>
                </thead>
                <tbody id="tabela-musicas">
                <tr class="musica">
                    <td class="info-nome"><a href="{% url 'visualizacao' %}">Smells Like Teen Spirit</a></td>
                    <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                 <tr class="musica">
                    <td class="info-nome">Come As You Are</td>
                     <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                 <tr class="musica">
                    <td class="info-nome">About a Girl</td>
                     <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>

                </tbody>
            </table>

        </main>


        <form class="addmusica">
            <h1>Adicionar Música</h1>
            <div class="grupo">
            <label>Nome da Música: </label>
            <input name="nome" type="text" placeholder="Digite o nome da música..."><br>
            </div>
            <div class="grupo">
            <label>Banda: </label>
            <input name="banda" type="text" placeholder="Digite o nome da banda..."><br>
            </div>
            <div class="grupo">
            <label>Gênero: </label>
            <input name="genero" type="text" placeholder="Digite o gênero..."><br>
            </div>
            <div class="grupo">
            <label>Álbum: </label>
            <input name="album" type="text" placeholder="Digite o nome do álbum..."><br>
            </div>

             <button id="adicionar-musica" class="botao bto-principal">Adicionar</button>
         </form>


        <form class="edit-musica">
        <h1>Editar Música</h1>
        <label>Nome da Música: </label>
                <input name="nome" type="text" placeholder="Digite o nome da música..."><br>
                <label>Banda: </label>
                <input name="banda" type="text" placeholder="Digite o nome da banda..."><br>
                <label>Gênero: </label>
                <input name="genero" type="text" placeholder="Digite o gênero..."><br>
                <label>Álbum: </label>
                <input name="album" type="text" placeholder="Digite o nome do álbum..."><br>

            <button id="edit-musica" class="botao bto-principal2">Confirmar</button>
            </form>


    <footer>
            <p>Contato:</p>
            <p>Whatsapp: 781222</p>
            <p>E-mail: contato@gmail.com</p>
    </footer>
</body>
</html>