{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/paginamestra.css' %}">
</head>

<h1>Gêneros</h1>

{% for genero in generos %}

  <div class="text-danger">
    {{ genero.nome }}

    <a href="{% url 'generos_editar' id=genero.id %}">Editar</a>

    <form action="{% url 'deletar' id=genero.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Deletar" />
    </form>
  </div>

{% endfor %}

<a href="{% url 'generos_novo' %}">Novo gênero</a>
