{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/paginamestra.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/listagemmusicas.css' %}">
</head>

<h1>Lista de Músicas</h1>
 {% for musica in musicas %}
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Gênero</th>
        <th>Álbum</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>{{ musica.nome }}</td>
        <td>{{ musica.genero }}</td>
        <td>{{ musica.album }}</td>
    </tr>
    </tbody>
</table>

  <div class="text-danger">

    <a href="{% url 'musicas_editar' id=musica.id %}">Editar</a>

    <form action="{% url 'deletar' id=musica.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Deletar" />
    </form>
  </div>

{% endfor %}

<a href="{% url 'musicas_novo' %}">Nova musica</a>
