{% extends 'mainapp/base.html' %}
{% load static %}

{% block csds %}

<link rel="stylesheet" type="text/css" href="{% static 'css/paginamestra.css' %}">

{% endblock %}


{% block content %}

<h1>Nova Música</h1>

<form method="post" action="{% url 'musicas_criar' %}" novalidate>
  {% csrf_token %}

  {{ form.as_p }}

  <button type="submit">Salvar</button>

</form>

<div class="text-danger">
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      {{ error}}
    {% endfor %}
  {% endfor %}
</div>


{% endblock %}
