{% load static %}
<html>
    <head>
        <title>Maitabs</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
       <link rel="stylesheet" type="text/css" href="{% static 'css/dark-theme.css' %}">
       {% block css %}
       {% endblock %}
    </head>
    <body>

      <div class="main">
        <div class="sidebar">

          <h1>Maitabs</h1>

          <div class="menu">
              <a href="{% url 'home' %}">Início</a>
              <a href="{% url 'busca_index' %}">Busca</a>
              <a href="{% url 'musicas_index' %}">Músicas</a>
              <a href="{% url 'artistas_index' %}">Artistas</a>
              <a href="{% url 'generos_index' %}">Gêneros</a>
          </div>

        </div>

        <div class="content container">
          {% block content %}
          {% endblock %}
        </div>
      </div>

    </body>
</html>
