{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/listapop.css' %}">
</head>

<body>
    <header>
            <div class='caixa'>
            <h1><img src="{% static 'img/guitar.jpg' %}"></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'listademusicas' %}">Lista de Músicas</a></li>
                    <li><a href='contato.html'>Contato</a></li>
                    <li><a href="{% url 'teladelogin' %}">Login</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
        </nav>
        </div>

    </header>

<main>
            <input class="search-bar"><!--<img src="{% static 'img/lupa.jpg'%}" class="lupa">-->
            <h2>Lista de Músicas</h2>

            <table class="lista">
                <thead>
                <tr class="musica">
                    <th>Nome</th>
                    <th>Banda</th>
                    <th>Gênero</th>
                    <th>Álbum</th>
                    <th>Escutando</th>
                </tr>
                </thead>
                <tbody id="tabela-pop">
                <tr class="musica">
                    <td class="info-nome"><a href="{% url 'visualizacao' %}">Smells Like Teen Spirit</a></td>
                    <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                 <tr class="musica">
                    <td class="info-nome">Come As You Are</td>
                     <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>
                 <tr class="musica">
                    <td class="info-nome">About a Girl</td>
                     <td class="info-banda">Nirvana</td>
                    <td class="info-genero">Rock</td>
                    <td class="info-album">0</td>
                    <td class="info-escutando">0</td>
                </tr>

                </tbody>
            </table>



        </main>
    <footer>
            <p>Contato:</p>
            <p>Whatsapp: 781222</p>
            <p>E-mail: contato@gmail.com</p>
    </footer>

</body>
</html>